{% extends "layouts/base-fullscreen.html" %} {% block title %} Token Transfer {%
endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="row">
  <div class="card border-0 shadow components-section">
    <div class="card-body">
      <div class="row mb-4">
        <div class="mb-4">
          <label for="tokenValidate">토큰 배분 지갑 개인키</label>
          <input type="text" class="form-control" id="tokenValidate" required />
        </div>
      </div>

      <div class="row mb-4">
        <div class="mb-3">
          <label for="formFile" class="form-label">일괄전송목록</label>
          <input class="form-control" type="file" id="formFile" />
        </div>
      </div>
      <div class="table-responsive">
        <table
          class="table table-centered table-nowrap mb-0 rounded"
          id="sendStateTable"
        >
          <tr>
            <th class="border-0 rounded-start">#</th>
            <th class="border-0">TxHash</th>
            <th class="border-0">Wallet Address</th>
            <th class="border-0"># of Token</th>
            <th class="border-0 rounded-end">Status</th>
          </tr>
          <tbody>
            <!-- Item -->
          </tbody>
        </table>
      </div>

      <div class="row mb-4">
        <div class="col-sm-4 mb-3">
          <button
            class="btn btn-primary"
            type="button"
            onclick="transferToken(document.getElementById('tokenValidate').value, document.getElementById('formFile'))"
          >
            보내기
          </button>
        </div>
        <div class="col-sm-4 mb-3">
          <button
            class="btn btn-primary"
            type="button"
            onclick="window.close()"
          >
            닫기
          </button>
        </div>
        <div class="col-sm-4 mb-3">
          <button
            class="btn btn-primary"
            type="button"
            onclick="exportResult()"
          >
            결과 내보내기
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script>

  var API_BASE_URL = "http://localhost:33127"
  // var API_BASE_URL = "https://app.srt-wallet.io"

  var socket = io.connect(API_BASE_URL, {
    path: "/wallet/socket.io",
    transports: ["websocket"],
  });
  socket.on("TxStateChanged", function (data) {
    console.log(data);
    let status = data.split(":")[0];
    let txHash = data.split(":")[1];
    let addr = data.split(":")[2];
    let pk = data.split(":")[3];
    let balance = data.split(":")[4]
    let res = data.split(":")[5];

    let trEl = document.getElementById(addr);
    if (trEl == null || trEl.id === "-") {
      let tableEl = document.getElementById("sendStateTable");
      let rowIdx = tableEl.rows.length;
      trEl = tableEl.insertRow(rowIdx);
      trEl.id = addr;
  
      let tdGen = (tr, value) => {
        let tdEl = tr.insertCell(-1);
        tdEl.innerText = value;
        return;
      };

      tdGen(trEl, rowIdx);
      tdGen(trEl, txHash);
      tdGen(trEl, addr);
      tdGen(trEl, balance.replace("000000000000000000", ""));
      tdGen(trEl, status);
    }

    let cells = trEl.cells;

    if (res === "1") {
      const pkVal = document.getElementById("tokenValidate").value;
      console.log(pkVal);
      cells[1].innerText = txHash;
      cells[2].innerText = addr;
      cells[3].innerText = balance.replace("000000000000000000", "");
      cells[4].innerText = status;

      setTimeout(async function () {
        console.log("======================================");
        console.log("Reverted");
        console.log("PrivateKey :" + addr);
        console.log("amount :" + balance.replace("000000000000000000", ""));
        console.log("======================================");
        await axios
          .post(
            API_BASE_URL + "/wallet/transferFromByPk",
            {
              fromPk: addr,
              toPk: pkVal
            }
          )
          .catch((error) => {
            console.log(error);
          });
      }, 5000);
    } else if (res === "2") {
      cells[1].innerText = txHash;
      cells[2].innerText = addr;
      cells[3].innerText = balance.replace("000000000000000000", "");
      cells[4].innerText = status;
      setTimeout(async function () {
        const pkVal = document.getElementById("tokenValidate").value;
        console.log(pkVal);
        console.log("======================================");
        console.log("Retry");
        console.log("PrivateKey :" + pk);
        console.log("amount :" + balance.replace("000000000000000000", ""));
        console.log("======================================");
        await axios
          .post(
            API_BASE_URL+"/wallet/transferFromByPk",
            {
              fromPk: pk,
              toPk: pkVal
            }
          )
          .catch((error) => {
            console.log(error);
          });
      }, 5000);
    }else if (res ==="3") {
      // Approve start
      cells[1].innerText = txHash;
      cells[2].innerText = addr;
      cells[3].innerText = balance.replace("000000000000000000", "");
      cells[4].innerText = status;
      setTimeout(async function () {
        const pkVal = document.getElementById("tokenValidate").value;
        console.log(pkVal);
        console.log("======================================");
        console.log("Allowance");
        console.log("PrivateKey :" + pk);
        console.log("amount :" + balance.replace("000000000000000000", ""));
        console.log("======================================");
        await axios
          .post(
            API_BASE_URL+"/wallet/approveByTransferFee",
            {
              fromPk: pk,
              toPk: pkVal
            }
          )
          .catch((error) => {
            console.log(error);
          });
      }, 5000);
    } else if (res ==="4") {

      cells[1].innerText = txHash;
      cells[2].innerText = addr;
      cells[3].innerText = balance.replace("000000000000000000", "");
      cells[4].innerText = status;
      setTimeout(async function () {
        const pkVal = document.getElementById("tokenValidate").value;
        console.log(pkVal);
        console.log("======================================");
        console.log("Retry");
        console.log("PrivateKey :" + addr);
        console.log("amount :" + balance.replace("000000000000000000", ""));
        console.log("======================================");
        await axios
          .post(
            API_BASE_URL+"/wallet/transferFromByPk",
            {
              fromPk: pk,
              toPk: pkVal
            }
          )
          .catch((error) => {
            console.log(error);
          });
      }, 5000);
    } else if (res ==="5") {
      const pkVal = document.getElementById("tokenValidate").value;
      console.log(pkVal);
      cells[1].innerText = txHash;
      cells[2].innerText = addr;
      cells[3].innerText = balance.replace("000000000000000000", "");
      cells[4].innerText = status;
    } else {
      cells[1].innerText = txHash;
      cells[2].innerText = addr;
      cells[3].innerText = balance.replace("000000000000000000", "");
      cells[4].innerText = status;
    }
  });

  async function exportResult() {
    let tableEl = document.getElementById("sendStateTable");

    let csv = [];
    let row = [];
    row.push("지갑주소", "회수수량");

    csv.push(row.join(","));

    for (let itemIdx = 0; itemIdx < tableEl.rows.length; itemIdx++) {
      if (itemIdx == 0) {
        continue;
      }
      dataRow = [];

      dataRow.push(
        tableEl.rows[itemIdx].cells[2].innerText,
        tableEl.rows[itemIdx].cells[3].innerText,
      );

      csv.push(dataRow.join(","));
    }

    let csvFile;
    let downloadLink;

    //한글 처리를 해주기 위해 BOM 추가하기
    const BOM = "\uFEFF";
    csv = BOM + csv;

    csvFile = new Blob([csv], { type: "text/csv" });
    downloadLink = document.createElement("a");
    downloadLink.download = "result_export.csv";
    downloadLink.href = window.URL.createObjectURL(csvFile);
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);
    downloadLink.click();
  }

  async function transferToken(fromAddr, csvFile) {
    if (fromAddr === "") {
      alert("주소를 입력하세요.");
      return;
    }

    if (csvFile.value === "") {
      alert("파일경로를 입력하세요.");
      return;
    }

    var reader = new FileReader();
    reader.addEventListener("loadend", async function () {
      // reader.result contains the contents of blob as a typed array
      // we insert content of file in DOM here
      let lines = reader.result.split("\r");
      for (let count = 0; count < lines.length; count++) {
        let rowContent = lines[count].split(",");
        if (count == 0 || rowContent.length > 2) {
          continue;
        }

        if (rowContent[0] == "") {
          continue;
        }

        let sendParam = {
          fromPk : rowContent[0].trim(),
          toPk: fromAddr,
        };

        setTimeout(async function () {
          let res = await axios
            .post(
              API_BASE_URL + "/wallet/transferFromByPk",
              {
                fromPk: sendParam["fromPk"],
                toPk: sendParam["toPk"]
              }
            )
            .catch((error) => {
              console.log(error);
            });
        }, 5000 + (100 * count));
      }
    });

    reader.readAsText(csvFile.files[0], "euc-kr");
  }
</script>
{% endblock javascripts %}
