{% extends "layouts/base-fullscreen.html" %} {% block title %} Token Transfer {%
endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="row">
  <div class="card border-0 shadow components-section">
    <div class="card-body">
      <div class="row mb-4">
        <div class="mb-4">
          <label for="tokenValidate">토큰 배분 지갑 개인키</label>
          <input type="text" class="form-control" id="tokenValidate" required />
        </div>
      </div>

      <div class="row mb-4">
        <div class="mb-3">
          <label for="formFile" class="form-label">일괄전송목록</label>
          <input class="form-control" type="file" id="formFile" />
        </div>
      </div>
      <div class="table-responsive">
        <table
          class="table table-centered table-nowrap mb-0 rounded"
          id="sendStateTable"
        >
          <tr>
            <th class="border-0 rounded-start">#</th>
            <th class="border-0">Name</th>
            <th class="border-0">Phone Number</th>
            <th class="border-0">TxHash</th>
            <th class="border-0"># of Token</th>
            <th class="border-0 rounded-end">Status</th>
          </tr>
          <tbody>
            <!-- Item -->
          </tbody>
        </table>
      </div>

      <div class="row mb-4">
        <div class="col-sm-4 mb-3">
          <button
            class="btn btn-primary"
            type="button"
            onclick="transferToken(document.getElementById('tokenValidate').value, document.getElementById('formFile'))"
          >
            보내기
          </button>
        </div>
        <div class="col-sm-4 mb-3">
          <button
            class="btn btn-primary"
            type="button"
            onclick="window.close()"
          >
            닫기
          </button>
        </div>
        <div class="col-sm-4 mb-3">
          <button
            class="btn btn-primary"
            type="button"
            onclick="exportResult()"
          >
            결과 내보내기
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script>
  var socket = io.connect("https://app.srt-wallet.io:5702", {
    path: "/socket.io",
    transports: ["websocket"],
  });
  socket.on("TxStateChanged", function (data) {
    console.log(data);

    let addr = data.split(":")[2];
    let txHash = data.split(":")[1];
    let status = data.split(":")[0];
    let res = data.split(":")[3];

    let trEl = document.getElementById(addr);

    let cells = trEl.cells;

    if (res === "1") {
      const pkVal = document.getElementById("tokenValidate").value;
      console.log(pkVal);
      cells[3].innerText = txHash;
      cells[5].innerText = status;

      setTimeout(async function () {
        console.log("======================================");
        console.log("Reverted");
        console.log("toAddr :" + addr);
        console.log("amount :" + cells[4].innerText);
        console.log("nameVal :" + cells[1].innerText);
        console.log("phoneNumVal :" + cells[2].innerText);
        console.log("======================================");
        await axios
          .post(
            "https://app.srt-wallet.io/wallet/transferAdmin",
            {
              pk: pkVal,
              toAddr: addr,
              amount: cells[4].innerText,
              name: cells[1].innerText,
              phoneNum: cells[2].innerText,
            }
          )
          .catch((error) => {
            console.log(error);
          });
      }, 30000);
    } else if (res === "2") {
      const pkVal = document.getElementById("tokenValidate").value;
      console.log(pkVal);
      cells[3].innerText = txHash;
      cells[5].innerText = status;
      setTimeout(async function () {
        console.log("======================================");
        console.log("Retry");
        console.log("toAddr :" + addr);
        console.log("amount :" + cells[4].innerText);
        console.log("nameVal :" + cells[1].innerText);
        console.log("phoneNumVal :" + cells[2].innerText);
        console.log("======================================");
        await axios
          .post(
            "https://app.srt-wallet.io/wallet/transferAdmin",
            {
              pk: pkVal,
              toAddr: addr,
              amount: cells[4].innerText,
              name: cells[1].innerText,
              phoneNum: cells[2].innerText,
            }
          )
          .catch((error) => {
            console.log(error);
          });
      }, 30000);
    } else {
      cells[3].innerText = txHash;
      cells[5].innerText = status;
    }
  });

  async function exportResult() {
    let tableEl = document.getElementById("sendStateTable");

    let csv = [];
    let row = [];
    row.push("#", "이름", "전화번호", "지갑주소", "지급수량", "전체수량");

    csv.push(row.join(","));

    for (let itemIdx = 0; itemIdx < tableEl.rows.length; itemIdx++) {
      if (itemIdx == 0) {
        continue;
      }
      dataRow = [];

      let res = await axios
        .get(
          "https://app.srt-wallet.io/wallet/balanceof",
          {
            params: {
              addr: tableEl.rows[itemIdx].id,
            },
          }
        )
        .catch((error) => {
          console.log(error);
        });

      dataRow.push(
        tableEl.rows[itemIdx].cells[0].innerText,
        tableEl.rows[itemIdx].cells[1].innerText,
        tableEl.rows[itemIdx].cells[2].innerText,
        tableEl.rows[itemIdx].id,
        tableEl.rows[itemIdx].cells[4].innerText,
        res.data.balance.replace("000000000000000000", "")
      );

      csv.push(dataRow.join(","));
    }

    let csvFile;
    let downloadLink;

    //한글 처리를 해주기 위해 BOM 추가하기
    const BOM = "\uFEFF";
    let context = csv.join("\n");
    context = BOM + context;

    csvFile = new Blob([context], { type: "text/csv" });
    downloadLink = document.createElement("a");
    downloadLink.download = "result_export.csv";
    downloadLink.href = window.URL.createObjectURL(csvFile);
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);
    downloadLink.click();
  }

  async function transferToken(fromAddr, csvFile) {
    if (fromAddr === "") {
      alert("주소를 입력하세요.");
      return;
    }

    if (csvFile.value === "") {
      alert("파일경로를 입력하세요.");
      return;
    }

    var reader = new FileReader();
    reader.addEventListener("loadend", async function () {
      // reader.result contains the contents of blob as a typed array
      // we insert content of file in DOM here
      let lines = reader.result.split("\r");
      for (let count = 0; count < lines.length; count++) {
        let rowContent = lines[count].split(",");
        if (count == 0 || rowContent.length > 4) {
          continue;
        }

        let sendParam = {
          pk: fromAddr,
          toAddr: typeof rowContent[2] === "string" ? rowContent[2].trim() : "",
          name: typeof rowContent[0] === "string" ? rowContent[0].trim() : "",
          phoneNum:
            typeof rowContent[1] === "string"
              ? rowContent[1].trim().replaceAll("-", "")
              : "",
          amount: parseFloat(rowContent[3]),
        };

        if (
          sendParam["name"] === "" ||
          sendParam["phoneNum"] === "" ||
          sendParam["toAddr"] === "" ||
          sendParam["toAddr"].substring(0, 2) != "0x"
        ) {
          continue;
        }

        setTimeout(async function () {
          let res = await axios
            .post(
              "https://app.srt-wallet.io/wallet/transferAdmin",
              {
                pk: sendParam["pk"],
                toAddr: sendParam["toAddr"],
                amount: sendParam["amount"],
                name: sendParam["name"],
                phoneNum: sendParam["phoneNum"],
              }
            )
            .catch((error) => {
              console.log(error);
            });

          let tableEl = document.getElementById("sendStateTable");
          let rowIdx = tableEl.rows.length;
          let tr = tableEl.insertRow(rowIdx);
          tr.id = sendParam["toAddr"];

          let tdGen = (tr, value) => {
            let tdEl = tr.insertCell(-1);
            tdEl.innerText = value;
            return;
          };

          tdGen(tr, rowIdx);
          tdGen(tr, sendParam["name"]);
          tdGen(tr, sendParam["phoneNum"]);
          tdGen(tr, "-");
          tdGen(tr, sendParam["amount"]);
          tdGen(tr, "Created");
        }, 15000 * count);
      }
    });

    reader.readAsText(csvFile.files[0], "euc-kr");
  }
</script>
{% endblock javascripts %}
